@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
    color: #000000;
}

/* Dark Mode */
.dark {
    background-color: #232020;
    color: #ffffff;
    
}

.dark #messageInput {
    color: #000000;
}

.dark #chatMessages {
    color: #000000;
}