body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background: #f4f4f4;
}

#room-controls, #message-controls {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin-right: 5px;
}

#messages {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    width: 300px;
}